/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.dusk.local
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# 含めたい画像ファイルのみ指定
!storage/app/public/images/items/coffeemill.jpg
!storage/app/public/images/items/hdd.jpg
!storage/app/public/images/items/laptop.jpg
!storage/app/public/images/items/makeup.jpg
!storage/app/public/images/items/mic.jpg
!storage/app/public/images/items/onions.jpg
!storage/app/public/images/items/shoes.jpg
!storage/app/public/images/items/shoulderbag.jpg
!storage/app/public/images/items/tumbler.jpg
!storage/app/public/images/items/watch.jpg
